<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script th:src="@{/static/v2/js/lib/ui-bootstrap-tpls-2.5.0.min.js}"></script>
    <!--    <script th:src="@{/static/v2/js/app/controller/ProductController.js}"></script>-->
    <!--    <script th:src="@{/static/v2/js/app/controller/MarkController.js}"></script>-->
    <!--    <script th:src="@{/static/v2/js/app/controller/CategoryController.js}"></script>-->
    <!--    <script th:src="@{/static/v2/js/lib/angular.min.js}"></script>-->
    <script th:src="@{/static/v2/js/lib/angular.min.js}"></script>
    <script th:src="@{/static/v2/js/app/controller/MarkController.js}"></script>
    <!--    <script th:src="@{/static/v2/js/app/controller/CategoryController.js}"></script>-->
    <script th:src="@{/static/v2/js/app/controller/ProductController.js}"></script>


</head>
<body>
<div class="container">
    <h1>Edit post</h1>
    <form ng-app="app" ng-controller="ProductController" ng-submit="editProduct()">
        <div ng-init="getProduct()">
            <div class="form-group">
                <label>Mark</label>
                <input name="mark" id="mark" type="text" rows="8" ng-model="product.mark" placeholder="Mark"
                       class="form-control" required="required"></input>
            </div>
            <div class="form-group">
                <label>Model</label>
                <input name="model" id="model" type="text" rows="8" ng-model="product.model" placeholder="Model"
                       class="form-control" required="required"></input>
            </div>
            <div class="form-group">
                <label>Range</label>
                <input name="range" id="range" type="text" rows="8" ng-model="product.range" placeholder="Range"
                       class="form-control" required="required"></input>
            </div>
            <div class="form-group">
                <label>Price</label>
                <input name="range" id="price" type="text" rows="8" ng-model="product.price" placeholder="Range"
                       class="form-control" required="required"></input>
            </div>
            <div class="form-group">
                <label>Category</label>
                <input name="category" id="category" type="number" rows="8" ng-model="product.category"
                       placeholder="Category" class="form-control" required="required"></input>
            </div>
            <div class="form-group">
                <label>Years (optional)</label>
                <input name="years" id="years" type="text" rows="8" ng-model="product.years" placeholder="Years"
                       class="form-control"></input>
            </div>
            <div class="form-group">
                <label>Info (optional)</label>
                <input name="years" id="info" type="text" rows="8" ng-model="product.info" placeholder="Info"
                       class="form-control"></input>
            </div>
            <div class="form-group">
                <label>Photo-1 (optional)</label>
                <input name="photo1" id="photo1" type="text" rows="8" ng-model="product.photo1"
                       placeholder="Photo-1" class="form-control"></input>
            </div>
            <div class="form-group">
                <label>Photo-2 (optional)</label>
                <input name="photo2" id="photo2" type="text" rows="8" ng-model="product.photo2"
                       placeholder="Photo-2" class="form-control"></input>
            </div>
            <div class="form-group">
                <label>Photo-3 (optional)</label>
                <input name="photo3" id="photo3" type="text" rows="8" ng-model="product.photo3"
                       placeholder="Photo-3" class="form-control"></input>
            </div>
        <div class="form-group">
            <input type="submit" name="submit" class="btn btn-info form-control"  onclick="CKupdate();" value="Edit">
        </div>
    </form>
</div>
<div th:fragment="footer"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
<script>
    // $(document).ready(function(){
    //     CKEDITOR.replace( 'description');
    //     CKEDITOR.replace( 'text');
    // })
</script>
</body>
