<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <link th:href="@{/static/v2/css/app/app_style.css}" rel="stylesheet"/>
        <script th:src="@{/static/v2/js/lib/angular.min.js}"></script>
        <script th:src="@{/static/v2/js/lib/ui-bootstrap-tpls-2.5.0.min.js}"></script>
        <script th:src="@{/static/v2/js/app/controllers.js}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
    </head>
    <body ng-app="app" ng-controller="PostController">
        <h1>Create Post Page</h1>
        <div class="container">
            <h1>Add new post</h1>
            <form ng-submit="submitPost()">
                <div class="form-group">
                    <label>Title</label>
                    <textarea  name="title" type="text" rows="1" cols="1" ng-model="postForm.title" placeholder="Title" class="form-control"  required="required"></textarea>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea name="description" type="text" rows="8" cols="80" ng-model="postForm.description" placeholder="Description" class="form-control" required="required"></textarea>
                </div>
                <div class="form-group">
                    <label>Full text</label>
                    <textarea name="text"  rows="8"  type="text" cols="80" ng-model="postForm.text" placeholder="Full text" class="form-control" required="required"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" name="submit" class="btn btn-info form-control" ></input>
                </div>
            </form>
        </div>
        <script>
            $(document).ready(function(){
                CKEDITOR.replace( 'description');
                CKEDITOR.replace( 'text');
            })
        </script>
        <div th:include="html/import/footer"></div>
    </body>
</html>

