<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/static/v2/css/app/app_style.css}" rel="stylesheet"/>
    <script th:src="@{/static/v2/js/lib/angular.min.js}"></script>
    <script th:src="@{/static/v2/js/app/controllers.js}"></script>
</head>
<div class="container">
    <h1>Edit post</h1>
    <form ng-app="app" ng-controller="PostController" ng-submit="editPost()">
        <div ng-init="getPost()">
            <input type="hidden" name="id" ng-model="post.id">
            <div class="form-group">
                <label>Title</label>
                <textarea  name="title" rows="1" cols="1" placeholder="Title" class="form-control"  ng-model="post.title"></textarea>
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea id="description" name="description" rows="8" cols="80" placeholder="Description" class="form-control" ng-model="post.description"></textarea>
            </div>
            <div class="form-group">
                <label>Full text</label>
                <textarea id="text" name="text"  rows="8" cols="80" placeholder="Full text" class="form-control" ng-model="post.text"></textarea>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" name="submit" class="btn btn-info form-control"  onclick="CKupdate();" value="Edit">
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
<script>
    // $(document).ready(function(){
    //     CKEDITOR.replace( 'description');
    //     CKEDITOR.replace( 'text');
    // })
</script>