<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script th:src="@{/static/v2/js/lib/angular.min.js}"></script>
<!--    <script th:src="@{/static/v2/js/app/post.js}"></script>-->
</head>
<body ng-app="" ng-controller="">
<div th:include="html/import/header"></div>
<h1>Get Post Page</h1>
<div class="container">
    <div class="admin-controlls">
            <button type="button" name="button" class="btn btn-primary"  ng-click="editPost()">Edit</button>
            <button type="button" name="button" class="btn btn-danger" ng-click="removePost(post)">Delete</button>
    </div>
    <div class="alert alert-secondary" role="alert">
        <div class="post" ng-repeat="post in posts">
            <h1>{{post.title}}</h1>
            <div>
                <p class="card-text text-muted"><h3>{{post.text}}</h3></p>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
<script>
    $(document).ready(function(){
        CKEDITOR.replace( 'description');
        CKEDITOR.replace( 'text');
    })
</script>

<div th:include="html/import/footer"></div>
</body>
</html>

