.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
.ol-1 {
    list-style: none;
    counter-reset: my-awesome-counter;
}
.li-1 {
    counter-increment: my-awesome-counter;
    margin: 0.25rem;
}
.li-1::before {
    content: counter(my-awesome-counter);
    background: #3399CC;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    line-height: 2rem;
    color: white;
    text-align: center;
    margin-right: 0.5rem;
}
.ol-1 ol-1 li-1::before {
    background: #99CCFF;
}


