<footer th:fragment="footer" class="container py-5" style="
            min-width: 100%;
            margin: 0;
            padding-left: 10%;
            /* padding-right: 10%; */" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-6 col-md">
            <div class=" text-center">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1737.4851972496701!2d28.445259110406283!3d49.19641113627974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472d5be61d5735c9%3A0x5cd283aac13d2ed1!2z0YPQuy4g0JrQsNGA0LHRi9GI0LXQstCwLCA1Mywg0JLQuNC90L3QuNGG0LAsINCS0LjQvdC90LjRhtC60LDRjyDQvtCx0LvQsNGB0YLRjCwgMjEwMDA!5e0!3m2!1sru!2sua!4v1567860632565!5m2!1sru!2sua"
                            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
        <div class="col-6 col-md">
            <h5>th:text="#{lang.contacts}"</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">+38(068)269-25-03 <br>+38(073)227-65-93</a></li>
                <li><a class="text-muted" href="https://www.facebook.com/vadim.troyan.77" target="_blank">Facebook</a></li>
                <li><a class="text-muted" href="#">Skype st-line@mail.ru</a></li>
                <li><a class="text-muted" href="#">Email st-line@i.ua</a></li>
                <li><a class="text-muted" href="https://www.t.me/stlinevn" target="_blank">Telegram</a></li>
                <li><a class="text-muted" href="https://www.youtube.com/channel/UC1kX8SSPAU8RDW4-MGur3FA"
                       target="_blank">Youtube</a></li>
                <li><a class="text-muted" href="https://www.plus.google.com/112045318869829258987" target="_blank">Google</a></li>
                <li><a class="text-muted" href="https://www.instagram.com/uk_vinnitsa/" target="_blank">Instagram</a></li>
                <small class="d-block mb-3 text-muted">&copy; 2019</small>
            </ul>
        </div>
        <div class="col-4 col-md"></div>
    </div>
</footer>