<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <script th:src="@{/static/v2/js/lib/angular.min.js}"></script>
        <script th:src="@{/static/v2/js/lib/ui-bootstrap-tpls-2.5.0.min.js}"></script>
        <link th:href="@{/static/v2/css/app/app_style.css}" rel="stylesheet"/>
        <script th:src="@{/static/v2/js/app/controller/PostController.js}"></script>
        <link rel="dns-prefetch" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    </head>
    <body>
        <div class="row" th:fragment="header">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <nav class="site-header py-1">
                    <div class="container d-flex flex-column flex-md-row justify-content-between">
                        <nav class="my-2 my-md-0 mr-md-3">
                            <a class="p-2 " href="#"><i class="fas fa-phone"></i>+38(068)269-25-03 <br> +38(073)227-65-93</a>
                        </nav>
                        <a class="py-2 d-none d-md-inline-block" href="#"><i class="fas fa-envelope"></i>st-line@i.ua</a>
                        <a class="py-2 d-none d-md-inline-block" href="#"><i class="fab fa-skype"></i>st-line@mail.ru</a>
                        <a class="py-2 d-none d-md-inline-block" href="https://www.facebook.com/vadim.troyan.77"
                           target="_blank"><i class="fab fa-facebook"></i></a>
                        <a class="py-2 d-none d-md-inline-block" href="https://plus.google.com/112045318869829258987"
                           target="_blank"><i class="fab fa-google-plus-g"></i></a>
                        <a class="py-2 d-none d-md-inline-block" href="https://www.youtube.com/channel/UC1kX8SSPAU8RDW4-MGur3FA"
                           target="_blank"><i class="fab fa-youtube"></i></a>
                        <a class="py-2 d-none d-md-inline-block" href="https://www.instagram.com/uk_vinnitsa/"
                           target="_blank"><i class="fab fa-instagram"></i></a>
                        <a class="py-2 d-none d-md-inline-block" href="https://t.me/stlinevn" target="_blank"><i
                                class="fas fa-paper-plane"></i></a>

                    </div>
                </nav>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div id="app">
            <nav class="navbar navbar-expand-md navbar-light navbar-laravel">
                <div class="container">
                    <a class="navbar-brand" href="{{ url('/') }}">
                        <img style="max-height:60px" src="{{asset('images/ST-line.jpg')}}" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="{{ __('Toggle navigation') }}">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a href="/st-line/index#main" class="nav-link active">Главная</a>
                            </li>
                            <li class="nav-item">
                                <a href="/st-line/index#about" class="nav-link active">О нас</a>
                            </li>
                            <li class="nav-item">
                                <a href="/st-line/index#products" class="nav-link active">Продукция</a>
                            </li>
                            <li class="nav-item">
                                <a href="/st-line/news" class="nav-link active">Новости</a>
                            </li>
                            <li class="nav-item">
                                <a href="/st-line/login" class="nav-link active">Новости</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <br>
        <div ng-app="app" ng-controller="PostController">
            <div class="container">
                <div class="post"  ng-repeat="post in posts">
                    <div class="alert alert-secondary" role="alert">
                        <div sec:authorize="isAuthenticated()">
                            <div class="admin-controlls">
                                    <a ng-click="deletePost(post)"><button  type="button" name="button" class="btn btn-danger">Delete</button></a>
                                    <form  method="get" action="/st-line/editPost/">
                                        <input type="number" name="postId"  value="{{post.id}}" hidden>
                                        <button type="submit" class="btn btn-primary">Edit</button>
                                    </form>
                            </div>
                        </div>
                        <h2><form  method="get" action="/st-line/post/">
                            <input type="number" name="postId"  value="{{post.id}}" hidden>
                            <button type="submit" class="btn btn-light text-muted">{{post.title}}</button>
                        </form></h2>
                        <div>{{post.description}}</a></div>
                        <div>{{post.date}}</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div th:include="import/footer"></div>
    </body>
</html>