<!DOCTYPE html>
<html>
<!--lang="{{ str_replace('_', '-', app()->getLocale()) }}">-->
<head>
    <script>
        function includeHTML() {
            var z, i, elmnt, file, xhttp;
            /*loop through a collection of all HTML elements:*/
            z = document.getElementsByTagName("*");
            for (i = 0; i < z.length; i++) {
                elmnt = z[i];
                /*search for elements with a certain atrribute:*/
                file = elmnt.getAttribute("w3-include-html");
                if (file) {
                    /*make an HTTP request using the attribute value as the file name:*/
                    xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4) {
                            if (this.status == 200) {
                                elmnt.innerHTML = this.responseText;
                            }
                            if (this.status == 404) {
                                elmnt.innerHTML = "Page not found.";
                            }
                            /*remove the attribute, and call this function once more:*/
                            elmnt.removeAttribute("w3-include-html");
                            includeHTML();
                        }
                    }
                    xhttp.open("GET", file, true);
                    xhttp.send();
                    /*exit the function:*/
                    return;
                }
            }
        };
    </script>
</head>
<body>
<div w3-include-html="appStyle.html"></div>
<div w3-include-html="links.html"></div>
<div w3-include-html="header.html"></div>
<h1>Products Page</h1>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light "
     style=" background-image:url({{asset('images/fon.jpg')}})">
    <div class="col-md-5 p-lg-5 mx-auto my-5" style=" background-color:#f8fafc">
        <h3 class="display-6 font-weight-normal">Продукция</h3>
        <p class="lead font-weight-normal">качественный и стильный обвес минимизирует риски, связанные с ездой в
            интенсивном городском потоке и за его пределами, обеспечивает автомобилю необходимую защиту, а вместе с ней
            и длительную эксплуатацию</p>
        <a class="btn btn-info" href="https://drive.google.com/drive/folders/0B3SULnEGhz8lRmVhS0tvYkhKUTg"
           target="_blank">Фотогалерея</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="text-center">

                    <div class="card" style="width: 18rem;">
                        <img src="{{asset('images/products/kengur/main.jpg')}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Кенгурятники</p>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse"
                            data-target=".multi-collapse1" aria-expanded="false"
                            aria-controls="multiCollapseExample1 multiCollapseExample2 multiCollapseExample3 multiCollapseExample20 multiCollapseExample21 multiCollapseExample22 multiCollapseExample23 multiCollapseExample24 multiCollapseExample25">
                        посмотреть ещё больше фото
                    </button>
                    <div class="row">
                        <div class="collapse multi-collapse1" id="multiCollapseExample1">
                            <div class="card card-body">
                                <img src="{{asset('images/products/kengur/branch-one.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse1" id="multiCollapseExample2">
                            <div class="card card-body">
                                <img src="{{asset('images/products/kengur/branch-two.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse1" id="multiCollapseExample3">
                            <div class="card card-body">
                                <img src="{{asset('images/products/kengur/branch-three.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse1" id="multiCollapseExample20">
                            <div class="card card-body">
                                <img src="{{asset('images/products/kengur/branch4.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse1" id="multiCollapseExample21">
                            <div class="card card-body">
                                <img src="{{asset('images/products/kengur/branch5.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse1" id="multiCollapseExample22">
                            <div class="card card-body">
                                <img src="{{asset('images/products/kengur/branch6.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse1" id="multiCollapseExample23">
                            <div class="card card-body">
                                <img src="{{asset('images/products/kengur/branch7.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse1" id="multiCollapseExample23">
                            <div class="card card-body">
                                <img src="{{asset('images/products/kengur/branch8.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse1" id="multiCollapseExample24">
                            <div class="card card-body">
                                <img src="{{asset('images/products/kengur/branch9.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse1" id="multiCollapseExample25">
                            <div class="card card-body">
                                <img src="{{asset('images/products/kengur/branch10.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">

                    <div class="card" style="width: 18rem;">
                        <img src="{{asset('images/products/front-bumper/main.jpg')}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Защита переднего бампера</p>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse"
                            data-target=".multi-collapse2" aria-expanded="false"
                            aria-controls="multiCollapseExample4 multiCollapseExample18 multiCollapseExample26 multiCollapseExample27 multiCollapseExample28 multiCollapseExample29 multiCollapseExample30 multiCollapseExample31 multiCollapseExample32 multiCollapseExample33">
                        посмотреть ещё больше фото
                    </button>
                    <div class="row">
                        <div class="collapse multi-collapse2" id="multiCollapseExample4">
                            <div class="card card-body">
                                <img src="{{asset('images/products/front-bumper/branch-one.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse2" id="multiCollapseExample18">
                            <div class="card card-body">
                                <img src="{{asset('images/products/front-bumper/branch-two.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse2" id="multiCollapseExample26">
                            <div class="card card-body">
                                <img src="{{asset('images/products/front-bumper/branch3.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse2" id="multiCollapseExample27">
                            <div class="card card-body">
                                <img src="{{asset('images/products/front-bumper/branch4.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse2" id="multiCollapseExample28">
                            <div class="card card-body">
                                <img src="{{asset('images/products/front-bumper/branch5.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse2" id="multiCollapseExample29">
                            <div class="card card-body">
                                <img src="{{asset('images/products/front-bumper/branch6.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse2" id="multiCollapseExample30">
                            <div class="card card-body">
                                <img src="{{asset('images/products/front-bumper/branch7.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse2" id="multiCollapseExample31">
                            <div class="card card-body">
                                <img src="{{asset('images/products/front-bumper/branch8.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse2" id="multiCollapseExample32">
                            <div class="card card-body">
                                <img src="{{asset('images/products/front-bumper/branch9.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse2" id="multiCollapseExample33">
                            <div class="card card-body">
                                <img src="{{asset('images/products/front-bumper/branch10.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">

                    <div class="card" style="width: 18rem;">
                        <img src="{{asset('images/products/back-bumper/main.jpg')}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Защита заднего бампера</p>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse"
                            data-target=".multi-collapse3" aria-expanded="false"
                            aria-controls="multiCollapseExample5 multiCollapseExample6 multiCollapseExample34 multiCollapseExample35 multiCollapseExample36 multiCollapseExample37 multiCollapseExample38 multiCollapseExample39 multiCollapseExample40 multiCollapseExample41 multiCollapseExample42">
                        посмотреть ещё больше фото
                    </button>
                    <div class="row">
                        <div class="collapse multi-collapse3" id="multiCollapseExample5">
                            <div class="card card-body">
                                <img src="{{asset('images/products/back-bumper/branch-one.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse3" id="multiCollapseExample6">
                            <div class="card card-body">
                                <img src="{{asset('images/products/back-bumper/branch-two.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse3" id="multiCollapseExample34">
                            <div class="card card-body">
                                <img src="{{asset('images/products/back-bumper/branch3.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse3" id="multiCollapseExample35">
                            <div class="card card-body">
                                <img src="{{asset('images/products/back-bumper/branch4.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse3" id="multiCollapseExample36">
                            <div class="card card-body">
                                <img src="{{asset('images/products/back-bumper/branch5.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse3" id="multiCollapseExample37">
                            <div class="card card-body">
                                <img src="{{asset('images/products/back-bumper/branch6.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse3" id="multiCollapseExample38">
                            <div class="card card-body">
                                <img src="{{asset('images/products/back-bumper/branch7.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse3" id="multiCollapseExample39">
                            <div class="card card-body">
                                <img src="{{asset('images/products/back-bumper/branch8.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse3" id="multiCollapseExample40">
                            <div class="card card-body">
                                <img src="{{asset('images/products/back-bumper/branch9.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse3" id="multiCollapseExample41">
                            <div class="card card-body">
                                <img src="{{asset('images/products/back-bumper/branch10.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse3" id="multiCollapseExample42">
                            <div class="card card-body">
                                <img src="{{asset('images/products/back-bumper/branch11.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="text-center">

                    <div class="card" style="width: 18rem;">
                        <img src="{{asset('images/products/roll-bar/main.jpg')}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Ролл-бар</p>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse"
                            data-target=".multi-collapse4" aria-expanded="false"
                            aria-controls="multiCollapseExample7 multiCollapseExample8 multiCollapseExample43  multiCollapseExample44 multiCollapseExample45">
                        посмотреть ещё больше фото
                    </button>
                    <div class="row">
                        <div class="collapse multi-collapse4" id="multiCollapseExample7">
                            <div class="card card-body">
                                <img src="{{asset('images/products/roll-bar/branch-one.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse4" id="multiCollapseExample8">
                            <div class="card card-body">
                                <img src="{{asset('images/products/roll-bar/branch-two.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse4" id="multiCollapseExample43">
                            <div class="card card-body">
                                <img src="{{asset('images/products/roll-bar/branch3.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse4" id="multiCollapseExample44">
                            <div class="card card-body">
                                <img src="{{asset('images/products/roll-bar/branch4.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse4" id="multiCollapseExample45">
                            <div class="card card-body">
                                <img src="{{asset('images/products/roll-bar/branch5.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">

                    <div class="card" style="width: 18rem;">
                        <img src="{{asset('images/products/side/main.jpg')}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Пороги</p>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse"
                            data-target=".multi-collapse5" aria-expanded="false"
                            aria-controls="multiCollapseExample9 multiCollapseExample10 multiCollapseExample46 multiCollapseExample47 multiCollapseExample48 multiCollapseExample49 multiCollapseExample50 multiCollapseExample51 multiCollapseExample52 multiCollapseExample53 multiCollapseExample54">
                        посмотреть ещё больше фото
                    </button>
                    <div class="row">
                        <div class="collapse multi-collapse5" id="multiCollapseExample9">
                            <div class="card card-body">
                                <img src="{{asset('images/products/side/branch-one.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse5" id="multiCollapseExample10">
                            <div class="card card-body">
                                <img src="{{asset('images/products/side/branch-two.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse5" id="multiCollapseExample46">
                            <div class="card card-body">
                                <img src="{{asset('images/products/side/branch3.jpg')}}" class="card-img-top" alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse5" id="multiCollapseExample54">
                            <div class="card card-body">
                                <img src="{{asset('images/products/side/branch4.jpg')}}" class="card-img-top" alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse5" id="multiCollapseExample47">
                            <div class="card card-body">
                                <img src="{{asset('images/products/side/branch5.jpg')}}" class="card-img-top" alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse5" id="multiCollapseExample48">
                            <div class="card card-body">
                                <img src="{{asset('images/products/side/branch6.jpg')}}" class="card-img-top" alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse5" id="multiCollapseExample49">
                            <div class="card card-body">
                                <img src="{{asset('images/products/side/branch7.jpg')}}" class="card-img-top" alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse5" id="multiCollapseExample50">
                            <div class="card card-body">
                                <img src="{{asset('images/products/side/branch8.jpg')}}" class="card-img-top" alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse5" id="multiCollapseExample51">
                            <div class="card card-body">
                                <img src="{{asset('images/products/side/branch9.jpg')}}" class="card-img-top" alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse5" id="multiCollapseExample52">
                            <div class="card card-body">
                                <img src="{{asset('images/products/side/branch10.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse5" id="multiCollapseExample53">
                            <div class="card card-body">
                                <img src="{{asset('images/products/side/branch11.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">

                    <div class="card" style="width: 18rem;">
                        <img src="{{asset('images/products/luster/main.jpg')}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Держатели фар (люстры)</p>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse"
                            data-target=".multi-collapse6" aria-expanded="false" aria-controls="multiCollapseExample11">
                        посмотреть ещё больше фото
                    </button>
                    <div class="row">
                        <div class="collapse multi-collapse6" id="multiCollapseExample11">
                            <div class="card card-body">
                                <img src="{{asset('images/products/luster/branch-one.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="text-center">

                    <div class="card" style="width: 18rem;">
                        <img src="{{asset('images/products/trunk/branch9.jpg')}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Багажники</p>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse"
                            data-target=".multi-collapse7" aria-expanded="false"
                            aria-controls="multiCollapseExample12 multiCollapseExample13 multiCollapseExample55 multiCollapseExample56 multiCollapseExample57 multiCollapseExample58 multiCollapseExample59">
                        посмотреть ещё больше фото
                    </button>
                    <div class="row">
                        <div class="collapse multi-collapse7" id="multiCollapseExample12">
                            <div class="card card-body">
                                <img src="{{asset('images/products/trunk/main.jpg')}}" class="card-img-top" alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse7" id="multiCollapseExample13">
                            <div class="card card-body">
                                <img src="{{asset('images/products/trunk/branch-two.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse7" id="multiCollapseExample55">
                            <div class="card card-body">
                                <img src="{{asset('images/products/trunk/branch4.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse7" id="multiCollapseExample56">
                            <div class="card card-body">
                                <img src="{{asset('images/products/trunk/branch5.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse7" id="multiCollapseExample57">
                            <div class="card card-body">
                                <img src="{{asset('images/products/trunk/branch6.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse7" id="multiCollapseExample58">
                            <div class="card card-body">
                                <img src="{{asset('images/products/trunk/branch8.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse7" id="multiCollapseExample59">
                            <div class="card card-body">
                                <img src="{{asset('images/products/trunk/branch-one.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="text-center">

                    <div class="card" style="width: 18rem;">
                        <img src="{{asset('images/products/truck/main.jpg')}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Фуры, грузовики</p>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse"
                            data-target=".multi-collapse9" aria-expanded="false"
                            aria-controls="multiCollapseExample16 multiCollapseExample17  multiCollapseExample60  multiCollapseExample61  multiCollapseExample62  multiCollapseExample63  multiCollapseExample64  multiCollapseExample65  multiCollapseExample66  multiCollapseExample67">
                        посмотреть ещё больше фото
                    </button>
                    <div class="row">
                        <div class="collapse multi-collapse9" id="multiCollapseExample17">
                            <div class="card card-body">
                                <img src="{{asset('images/products/truck/branch-two.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse9" id="multiCollapseExample60">
                            <div class="card card-body">
                                <img src="{{asset('images/products/truck/branch4.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse9" id="multiCollapseExample61">
                            <div class="card card-body">
                                <img src="{{asset('images/products/truck/branch5.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse9" id="multiCollapseExample62">
                            <div class="card card-body">
                                <img src="{{asset('images/products/truck/branch6.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse9" id="multiCollapseExample63">
                            <div class="card card-body">
                                <img src="{{asset('images/products/truck/branch7.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse9" id="multiCollapseExample64">
                            <div class="card card-body">
                                <img src="{{asset('images/products/truck/branch8.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse9" id="multiCollapseExample65">
                            <div class="card card-body">
                                <img src="{{asset('images/products/truck/branch9.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse9" id="multiCollapseExample66">
                            <div class="card card-body">
                                <img src="{{asset('images/products/truck/branch10.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                        <div class="collapse multi-collapse9" id="multiCollapseExample67">
                            <div class="card card-body">
                                <img src="{{asset('images/products/truck/branch-three.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">

                    <div class="card" style="width: 18rem;">
                        <img src="{{asset('images/products/cap/main.jpg')}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Насадки для глушителя</p>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse"
                            data-target=".multi-collapse10" aria-expanded="false"
                            aria-controls="multiCollapseExample19">посмотреть ещё больше фото
                    </button>
                    <div class="row">
                        <div class="collapse multi-collapse10" id="multiCollapseExample19">
                            <div class="card card-body">
                                <img src="{{asset('images/products/cap/branch-one.jpg')}}" class="card-img-top"
                                     alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div w3-include-html="footer.html"></div>

        <script>
            includeHTML();
        </script>

    </div>
</div>
</body>
</html>
