/*body {*/
/*    background-color: #fff;*/
/*    min-height: 100vh;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-around;*/
/*    align-content: space-around;*/
/*}*/

.loader-car {
    width: 160px;
    height: 160px;
    position: relative;
    margin: auto;
}
.loader-car .loader-child {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader-car 1.2s infinite ease-in-out;
}

.loader-child > span > span:nth-child(1),
.loader-child > span > span:nth-child(2),
.loader-child > span > span:nth-child(3),
.loader-child > span > span:nth-child(4),
.loader-child > span > span:nth-child(5) {
    width: 12px;
    height: 2px;
    border-radius: 2px;
    background: #ff6251;
    position: absolute;
    animation: fazer1 .8s linear infinite;
}

.loader-child > span > span:nth-child(2) {
    top: 10px;
    animation: fazer2 .8s linear infinite;
}

.loader-child > span > span:nth-child(3) {
    top: 20px;
    animation: fazer3 .8s linear infinite;
    animation-delay: -1.2s;
}

.loader-child > span > span:nth-child(4) {
    top: 30px;
    animation: fazer4 1.2s linear infinite;
    animation-delay: -2s;
}

.loader-child > span > span:nth-child(5) {
    top: 40px;
    animation: fazer4 1.2s linear infinite;
    animation-delay: -1.6s;
}

@keyframes loader-car {
    0%, 100% {
        margin: 0 0 0 0;
    }
    50% {
        margin: 8px 0 0 0;
    }
}
@keyframes loader-car {
    0%, 100% {
        margin: 0 0 0 0;
    }
    50% {
        margin: 8px 0 0 0;
    }
}
@keyframes fazer1 {
    0% {
        left: 0;
    }
    100% {
        left: -80px;
        opacity: 0;
    }
}
@keyframes fazer2 {
    0% {
        left: 0;
    }
    100% {
        left: -100px;
        opacity: 0;
    }
}
@keyframes fazer3 {
    0% {
        left: 0;
    }
    100% {
        left: -60px;
        opacity: 0;
    }
}
@keyframes fazer4 {
    0% {
        left: 0;
    }
    100% {
        left: -120px;
        opacity: 0;
    }
}
@keyframes fazer5 {
    0% {
        left: 0;
    }
    100% {
        left: -80px;
        opacity: 0;
    }
}
View 